<a href="{{ .Site.BaseURL }}" style="text-decoration: none;">
  <div class="logo">
    {{ if .Site.Params.Logo }}
      <img src="{{ .Site.Params.Logo.path }}" alt="{{ .Site.Params.Logo.alt }}" />
    {{ else }}
      <span class="logo__mark">></span>
      <span class="logo__text">{{ .Site.Title }}: {{ .Site.Params.subtitle}}</span>
      <span class="logo__cursor"></span>
    {{ end }}
  </div>
</a>